<div class="entry-wrapper" id="expense-<%= expense.id %>">
	<span class="edit-link">
		<a class="cog" id="client-options-link-<%= client.id %>-e-<%= expense.id %>" href="#" onclick="showOptions( '<%= client.id %>-e-<%= expense.id %>' )"><img src="/images/cog-normal.png" alt="Options" title="Options" /></a>
	</span>
	<div class="options" id="client-options-<%= client.id %>-e-<%= expense.id %>">
		<ul>
			<li><a href="javascript:showEditExpenseForm( <%= expense.id %> )">Edit</a></li>
			<li><a href="javascript:confirmDelete( 'expense', '/expenses/destroy/<%= expense.id %>' )">Delete</a></li>
			<li><a href="javascript:showEntryControlsHelp()">Help</a></li>
		</ul>	
	</div>
	<p class="entry"><%= expense.description %> <span class="value">&pound;<%= '%.2f' % expense.amount %></span></p>
</div>

<div class="entry-wrapper edit-form" id="edit-expense-<%= expense.id %>">
	<% form_for(expense) do |f| %>
	    <%= f.text_field :description %> <span class="value">&pound;<%= f.text_field :amount, :size=>"5" %></span> <span class="submit"><%= f.submit 'Update' %></span>
	<% end %>
</div>