<h1>My account <span class="small"><a href="/dashboard">Back to Dashboard</a></span></h1>

<div id="right-column">
	<p class="blurb">Upgrade your account now!!!!!!!</p>
</div>

<div id="left-column">

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  
  <p>
    <%= f.label :password %>
    <%= f.password_field :password, :value=>"" %><br />
    <input type="password" name="password_2" value="" />
  </p>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

</div>