<div id="show-view-options">
	<%= link_to_function "+ Show view options", "showViewOptions()" %>
</div>

<div class="view-options" id="view-options">
	<div class="corner-tr">
	<div class="corner-tl">
	<div class="corner-br">
	<div class="corner-bl">
	
	<div class="inner">
		<h2>View Options</h2>
		
		<%= form_tag :action=>'dashboard' %>
		<div class="client-list-wrapper">
			<h3>Show these clients...</h3>
			<div class="client-list">	
				<% count = 0 %>
				<% for client in @all_clients %>
					<p class="<%= cycle( '', 'odd-row' ) %>">
						<input type="checkbox" class="client-checkbox" name="options[clients][<%= client.id %>]" <%= (@clients.include?(client)) ? 'checked="checked"' : '' %> /> 
						<label for="options[clients][<%= client.id %>]"><%= client.name %></label>
					</p>
					<% count = count + 1 %>
				<% end %>
			</div>
			<p class="small"><%= link_to_function 'Select All', "setClientCheckboxes( true )" %> | <%= link_to_function 'Select None', "setClientCheckboxes( false )" %></p>
		</div>
			
		<div class="dates-wrapper">
			<h3>...between these dates</h3>
			
			<div class="dates">
			<p><%= date_select( :options, :interval_start, :order=>[:day, :month, :year], :default => @start ) %></p>
			<p>until</p>
			<p><%= date_select( :options, :interval_end, :order=>[:day, :month, :year], :default => @end ) %></p>
			</div>
			
		</div>
		
		<div class="submit-wrapper">
			<p><input type="submit" value="Search" /></p>
			<p><%= link_to_function "Hide view options", "hideViewOptions()" %></p>
		</div>
		
		</form>
	</div>
	
	</div>
	</div>
	</div>
	</div>	
</div>

<%= render :partial=>"right_column", :locals=>{:clients=>@clients, :time_format=>@time_format, :user=>@user} %>

<div id="clients">
<% for client in @clients %>
	<div class="client<%= cycle('', ' odd-row', :name=>'client_backgrounds') %>">
		<h1 class="client" id="client-header-<%= client.id %>">
			<%= client.name %> 
			<span class="small">&pound;<%= '%.2f' % client.rate %>/hr</span> 
			<span class="edit-link">
				<a href="javascript:showExpenseForm( <%= client.id %> )"><img src="/images/add-expense-icon.png" alt="add an expense" title="add expense" /></a> 
				<a href="javascript:showEditClientForm( <%= client.id %> )"><img src="/images/edit-icon.png" alt="edit" title="edit" /></a> 
				<a href="javascript:confirmDelete( 'client', '/clients/destroy/<%= client.id %>' )"><img src="/images/delete-icon.png" alt="delete" title="delete" /></a>
				<% if !@limit_reached %>
				<a href="javascript:showClientForm()"><img src="/images/add-client-icon.png" alt="add a client" title="add a client" /></a> 
				<% end %>
				<a href="javascript:showClientControlsHelp()"><img src="/images/help-icon.png" alt="help" title="help" /></a>
			</span>
		</h1>
		
		<div class="edit-client" id="client-edit-<%= client.id %>">
			<% @client = client %>
			<%= render :partial=>"client_form" %>
		</div>
		
		<div class="inner" id="client-info-<%= client.id %>">
			<% @current_date = "" %>
			
			<% for item in client.combined %>
				<% if item.date.strftime( @date_format ) != @current_date %>
					<p class="interval-date"><%= item.date.strftime( @date_format ) %></p>
					<% @current_date = item.date.strftime( @date_format ) %>
				<% end %>
				<% if item.is_expense %>
					<%= render :partial=>"expense_entry", :locals=>{:expense=>item.expense} %>
				<% else %>
					<%= render :partial=>"interval_entry", :locals=>{:interval=>item.interval, :client=>client} %>
				<% end %>
			<% end %>
	
			<div class="expense_form">
				<!--<p class="entry expense-link" id="expense-link-<%= client.id %>"><a href="javascript:showExpenseForm( <%= client.id %> )">+ New expense</a></p>-->
				<% @expense = client.expenses.build %>
				<% form_for(@expense) do |f| %>			
				  <p class="entry expense-form" id="expense-form-<%= client.id %>">
		     		<input type="hidden" name="client_id" value="<%= client.id %>" />
				    <%= f.text_field :description, :value=>"Description", :class=>"inline" %>
				    <span class="value_input">&pound;<%= f.text_field :amount, :size=>"5" %></span>
				    <span class="expense_submit"><%= f.submit 'Create' %></span>
				  </p>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
</div>

<% if @limit_reached %>
<p class="limit-reached">Your client limit has been reached. <a href="/upgrade">Upgrade your account</a> to add more clients.</p>
<% else %>

<% end %>

<div id="client-form">
	<% @client = Client.new %>
	<% @client.name = "Name" %>
	<%= render :partial=>"client_form" %>
</div>