<div id="totals">
	<h2>Totals</h2>

	<% @grand_total = 0 %>
	
	<% for client in @clients %>
		<div class="total">
			<h3><%= client.name %></h3>
			<p>Time: <span class="total-time"><%= calculate_total_time( client ).strftime( @time_format ) %></span></p>
			<% @c_total = calculate_total_earnt( client ) %>
			<% @grand_total += @c_total %>
			<p>Earned: <span class="total-amount">&pound;<%= '%.2f' % @c_total %></span></p>
		</div>
	<% end %>
	
	<div class="total">
		<h3>Total</h3>
		<p>Earned: <span class="total-amount">&pound;<%= '%.2f' % @grand_total %></span></p>
	</div>
</div>

<% for client in @clients %>
	<div class="client">
		<h1 class="client" id="client-header-<%= client.id %>">
			<%= client.name %> 
			<span class="small">&pound;<%= '%.2f' % client.rate %>/hr</span> 
			<span class="edit-link">
				<a href="javascript:toggleClientInfo( <%= client.id %> )">+/-</a> | 
				<a href="javascript:showEditClientForm( <%= client.id %> )">edit</a> | 
				<a href="javascript:confirmDelete( 'client', '/clients/destroy/<%= client.id %>' )">x</a>
			</span>
		</h1>
		
		<div class="edit-client" id="client-edit-<%= client.id %>">
			<% @client = client %>
			<%= render :partial=>"client_form" %>
		</div>
		
		<div class="inner" id="client-info-<%= client.id %>">
			<% @current_date = "" %>
			
			<% for item in client.combined %>
				<% if item.date.strftime( @date_format ) != @current_date %>
					<p class="interval-date"><%= item.date.strftime( @date_format ) %></p>
					<% @current_date = item.date.strftime( @date_format ) %>
				<% end %>
				<% if item.is_expense %>
					<%= render :partial=>"expense_entry", :locals=>{:expense=>item.expense} %>
				<% else %>
					<%= render :partial=>"interval_entry", :locals=>{:interval=>item.interval, :client=>client} %>
				<% end %>
			<% end %>
	
			<div class="expense_form">
				<p class="entry expense-link" id="expense-link-<%= client.id %>"><a href="javascript:showExpenseForm( <%= client.id %> )">+ New expense</a></p>	
				<% @expense = client.expenses.build %>
				<% form_for(@expense) do |f| %>			
				  <p class="entry expense-form" id="expense-form-<%= client.id %>">
		     		<input type="hidden" name="client_id" value="<%= client.id %>" />
				    <%= f.text_field :description, :value=>"Description", :class=>"inline" %>
				    <span class="value_input">&pound;<%= f.text_field :amount, :size=>"5" %></span>
				    <span class="expense_submit"><%= f.submit 'Create' %></span>
				  </p>
				<% end %>
			</div>
		</div>
	</div>
<% end %>

<p id="client-link" class="client-link"><a href="javascript:showClientForm()">+ New Client</a></p>

<div id="client-form">
	<% @client = Client.new %>
	<% @client.name = "Name" %>
	<%= render :partial=>"client_form" %>
</div>