<div id="totals">
	<h2>Login</h2>
	<%= form_tag :action=>'authenticate' %>
	<%= text_field("userform", "email",:size=>"20" ) %>
	<%= password_field("userform", "password",:size=>"20" ) %>
	<input type="submit" value="Login" />
	</form>
	
	<h2>Signup - it's free!</h2>
	<% @user = User.new %>
	<% form_for(@user) do |f| %>	
	  <p>
	    <%= f.text_field :name, :value=>"Name" %>
	  </p>
	  <p>
	    <%= f.text_field :email, :value=>"Email" %>
	  </p>
	  <p>
	  	<%= f.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones %>
	  </p>
	  <p>
	    <%= f.password_field :password, :value=>"hellodonkeys" %>
	  </p>
	  <p>
	    <%= f.submit 'Create' %>
	  </p>
	<% end %>
</div>

<h1>Welcome to hours</h1>

<h2 class="subheader">Shockingly Simple Time Tracking</h2>

<p>Hours is a small and simple time tracking system. It lets you easily create and manage clients, and then add both expenses and time periods to them. With a simple and intuitive user interface, you'll have no problem keeping track of how much work you've done for your clients, and since it's free, everything it shows you that you've earnt will be yours!</p>

